@ri:registry=https://pkgs.dev.azure.com/rilab/_packaging/ri-spa/npm/registry/

always-auth=true

; begin auth token
//pkgs.dev.azure.com/rilab/_packaging/ri-spa/npm/registry/:username=rilab
//pkgs.dev.azure.com/rilab/_packaging/ri-spa/npm/registry/:_password=dWNoMmxkd2NqcHNhbWd4YzI0M3Jpb3c1am42M203M210dW56eDdkeHBmeGhnc3ZtaWdzYQ==
//pkgs.dev.azure.com/rilab/_packaging/ri-spa/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/rilab/_packaging/ri-spa/npm/:username=rilab
//pkgs.dev.azure.com/rilab/_packaging/ri-spa/npm/:_password=dWNoMmxkd2NqcHNhbWd4YzI0M3Jpb3c1am42M203M210dW56eDdkeHBmeGhnc3ZtaWdzYQ==
//pkgs.dev.azure.com/rilab/_packaging/ri-spa/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
